body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #121212;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    background-color: #1c1c1c;
    padding: 10px;
}
#map {
    height: 60vh;
    width: 100%;
    margin-bottom: 10px;
}
#popup {
    background: #1e1e1e;
    padding: 15px;
    border-top: 1px solid #333;
}
.controls {
    background: #222;
    padding: 10px;
}
select, button {
    padding: 6px;
    font-size: 14px;
    margin: 0 5px;
    border-radius: 4px;
}
.dark-mode {
    background-color: #ffffff;
    color: #000000;
}
.dark-mode #popup {
    background-color: #f0f0f0;
    color: #000;
}
